@media (max-width: 1500px) {
  .section__boxes-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .article-box {
    @include boxes-positioning-1-1;
  }

  .description-box {
    @include boxes-positioning-1-1;
  }
}

@media (max-width: 1200px) {
  .header-container {
    min-width: fit-content;
  }

  .article-box {
    @include boxes-positioning-1-2;
  }

  .description-box {
    @include boxes-positioning-1-2;
  }
}

@media (max-width: 600px) {
  .section__boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100%;
    min-width: unset;
    text-align: center;
  }

  .description-box {
    margin: 0;
  }

  .article-box {
    margin: 0;
  }

  .section__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
