@media (max-width: 1000px) {
  .header {
    &__logo {
      margin-right: 1rem;
    }

    &__navbar {
      &__list {
        &__item {
          margin-right: 1rem;
        }
      }
    }

    &__button {
      margin-left: 1rem;
    }
  }

  .description-box {
    max-width: unset;
  }

  .article-box {
    width: unset;
  }

  .section__boxes-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
  }

  .article-box {
    @include boxes-positioning-1-2;
  }

  .description-box {
    @include boxes-positioning-1-2;
  }

  .footer {
    height: unset;
    min-height: 190px;

    &__button {
      margin-bottom: unset;
    }

    &__container {
      gap: 2rem;

      display: grid;
      grid-template-rows: 190px 82px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__first-block {
      margin-right: unset;
      justify-content: space-between;
      width: 100%;
      grid-column: 1 / 4;
      grid-row: 1;

      &__images {
        justify-content: center;

        &__logo {
          margin-bottom: 2rem;
        }
      }
    }

    &__second-block {
      width: 100%;
      grid-column: 1 / 4;
      grid-row: 2;

      &__last-box {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .footer__button {
    margin-bottom: 1.5rem;
  }
}

// Conditionally rendering hamburger menu from Header component

@media (max-width: 650px) {
  .main-section {
    &__container {
      padding: 4rem 2rem;
    }
  }

  .description-section {
    padding: 4rem 0;
  }

  .articles-section {
    padding: 4rem 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer {
    padding: 3rem 0;

    &__first-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__navbar {
        text-align: center;

        &__list {
          display: unset;

          &__item {
            margin-bottom: 1rem;
            &:last-of-type {
              margin-bottom: unset;
            }
          }
        }
      }

      &__images {
        margin-right: unset;
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;

        &__logo {
          width: 150px;
        }

        &__icons-box {
          width: 190px;

          &__social-media-icon {
            width: 25px;
          }
        }
      }

      &__images {
        display: flex;
        align-items: center;
      }
    }

    &__second-block {
      &__last-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .description-section {
    &__container {
      text-align: center;
    }
  }

  .section {
    &__boxes-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__title {
        font-size: 2.5rem;
        line-height: 1.1;
      }

      &__description {
        font-size: 1rem;
      }
    }
  }

  .container {
    width: 100%;
    min-width: unset;
  }

  .description-box {
    margin: 0;
  }

  .article-box {
    margin: 0;
  }
}
