@media (max-width: 1000px) {
  .header {
    &__logo {
      margin-right: 1rem;
    }

    &__navbar {
      &__list {
        &__item {
          margin-right: 1rem;
        }
      }
    }

    &__button {
      margin-left: 1rem;
    }
  }

  .description-box {
    max-width: unset;
  }

  .article-box {
    width: unset;
  }

  .section__boxes-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
  }

  .article-box {
    @include boxes-positioning-1-2;
  }

  .description-box {
    @include boxes-positioning-1-2;
  }

  .footer {
    height: unset;
    min-height: 190px;

    &__container {
      gap: 2rem;

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__first-block {
      margin-right: unset;
      justify-content: space-between;
      width: 100%;
      grid-column: 1 / 4;
      grid-row: 1;
      padding-top: 2rem;

      &__images {
        justify-content: space-around;
      }
    }

    &__second-block {
      width: 100%;
      grid-column: 1 / 4;
      grid-row: 2;
      padding-bottom: 2rem;

      &__last-box {
        align-items: unset;

        &__copyright {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  // Hamburger menu
}

@media (max-width: 650px) {
  // Footer one column
}

@media (max-width: 600px) {
  .description-section {
    &__container {
      text-align: center;
    }
  }

  .section__boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100%;
    min-width: unset;
  }

  .description-box {
    margin: 0;
  }

  .article-box {
    margin: 0;
  }

  .section__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
