.header {
  height: 80px;

  display: flex;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    margin-left: 2rem;
  }

  &__logo {
    margin-right: 2rem;
  }

  &__navbar {
    &__list {
      list-style: none;

      display: flex;

      &__item {
        margin-right: 2rem;
        color: $color-grayish-blue;

        &:hover {
          color: $color-dark-blue;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
