.main-section {
  height: 650px;
  background-color: $color-l-grayish-blue;
  padding: 0 10rem;

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: 4rem;
      font-weight: 300;
      color: $color-dark-blue;
      margin-bottom: 2rem;
    }

    &__description {
      font-size: 1.2rem;
      color: $color-grayish-blue;
      margin-bottom: 2rem;
    }
  }

  &__images-container {
    height: 650px;

    &__banner {
      display: none;
    }

    &__background {
      display: none;
    }
  }
}
