.section {
  &__text-container {
    height: 100%;
    width: 100%;

    &__title {
      @include text-container(2.5rem, $color-dark-blue);
      font-weight: 300;
    }

    &__description {
      @include text-container(1.2rem, $color-grayish-blue);
    }
  }

  &__boxes-container {
    display: flex;
    width: 100%;
  }
}

.main-section {
  background: linear-gradient(
    $color-l-grayish-blue 5%,
    $color-vl-grayish-blue 95%
  );
  min-height: 650px;

  &__container {
    min-height: 650px;
    margin: 0 0 0 calc((100% - 1440px) / 2);
    max-width: unset;
    padding-right: 0;
  }

  &__banner-container {
    width: 100%;
    position: relative;
    height: 650px;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 100px -260px;
    text-align: center;

    &__banner {
      position: absolute;
      top: -8rem;
    }
  }

  &__text-container {
    max-width: 490px;
    min-height: 650px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
      @include text-container(4rem, $color-dark-blue);
    }
  }
}

.description-section {
  background-color: $color-l-grayish-blue;
  padding: 6rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    flex-direction: column;
  }

  &__boxes-container {
    justify-content: space-between;
  }

  &__text-container {
    &__title {
      @include text-container(2.5rem, $color-dark-blue);
      font-weight: 300;
    }

    &__description {
      max-width: 700px;
      margin-bottom: 0;
    }
  }
}

.articles-section {
  padding: 6rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    flex-direction: column;
  }

  &__boxes-container {
    justify-content: space-between;
  }
}
